#pillNav2{
    --bs-nav-link-color: var(--bs-white);
     --bs-nav-pills-link-active-color: var(--bs-primary);
      --bs-nav-pills-link-active-bg: var(--bs-white);
      background-color: red;
}
#profile-tab2:active{
  background-color: peachpuff;
}
